/* .App {
  text-align: center;
} */

/* .hidden {
  display: none;
} */
/*
.writting-1 {
  color: white;
  font-size: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  letter-spacing: 3px;
}
.writting-2 {
  color: white;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
}
.writting-3 {
  color: white;
  font-size: 70px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
}
.title {
  color: rgb(39, 38, 38);
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  background-color: #f3cbc9;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 2px 1px 20px white;
}
.movie {
  width: 250px;
  height: 300px;
} */


/* alll styles here */

/* query */



/* titles */
/*
.titles-body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.titles-back {
  width: 500px;
  height: 500px;
  position: relative;
  right: -800px;
  top: -800px;
}

.title-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 200px;
  width: 50vw;
  background-color: #EB8884;

}

.title-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.title-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 8px;
  width: 50vw;
  height: 600px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.movie {
  width: 250px;
  height: 300px;
}

 */
